@page
@model TheCollection.Pages.Account.LoginModel

<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="credential.username"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="credential.username" class="form-control" />
                <span class="text-danger" asp-validation-for="credential.username"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="credential.password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="credential.password" class="form-control"/>
                <span class="text-danger" asp-validation-for="credential.password"></span>
            </div>
        </div>

        <div class="row form-check mb-2">
            <div class="col-2">
                <input type="checkbox" asp-for="credential.rememberMe" class="form-check-input"/>
                <label class="form-check-label" asp-for="credential.rememberMe"></label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </div>
    </form>
<p><a asp-page="/Accounts/ForgotPassword">Forgot your password?</a></p>

</div>


<script>
    @if (ViewData["ErrorMessage"] != null)
    {
        <text>
            // Display an alert with the error message
            alert('@ViewData["ErrorMessage"]');
        </text>
    }
</script>