@*@if(User.Identity.IsAuthenticated)
{
        <form method="post" class="form-inline" asp-page="/Accounts/Logout">
        
        Welcome @User.Identity.Name
        <button type="submit" class="m-lg-2 btn btn-link">Logout</button>
    </form>

}
else
{
    <a class="btn btn-link" asp-page="/Accounts/Login">Login</a>
}*@

<div class="navbar-nav flex-grow-1">

    @if (User.Identity.IsAuthenticated)
    {
        <!-- ... existing code ... -->
        
        <!-- Cart Icon and Count -->
 

        <form method="post" class="form-inline" asp-page="/Accounts/Logout">
            Welcome!
            <button type="submit" class="m-lg-2 btn btn-link">Logout</button>
        </form>
    }
    else
    {
        <a class="btn btn-link" asp-page="/Accounts/Login">Login</a>
        <a class="btn btn-link" asp-page="/Users/Create">Register Account</a>

    }
</div>
