@page
@model TheVault.Pages.Orders.IndexModel
@{
}


<br />
<h2>List of Orders</h2>

<a class="btn btn-primary btn-sm" href="/Orders/Create">New Order</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Id</th>
            <th>Seller Id</th>
            <th>Order Price</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model.ListofOrders)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.pdt_id</td>
                <td>@item.seller_id</td>
                <td>@item.order_price</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Orders/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Orders/Delete?id=@item.id">Delete</a>
                </td>
            </tr>
            
        }
    </tbody>
</table>
