@page
@model TheCollection.Pages.humanresourceModel
@{
}

<div class="text-center">
    <h1 class="display-4">This is the Human Resource Page</h1>
    <p>Learn about building Web apps with ASP.NET Core</a>.</p>
</div>
